* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 992px){
 body {
  font-family: "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

  #bloc_page {
    padding-left: 0px;
    padding-right: 0px;
  }

  header, #logo, h1, #section_titre_principal, #baseline, #section_fonctionnement, #section_restaurants {
    padding-left: 20px;
    padding-right: 20px;
  }

  html,
body {
  margin: 0px;
  padding: 0px;
}

  /* Header */
header {
  margin-top: -60px;
  margin-bottom: 15px;
  height: 200px;
}

header img {
  height: 300px;
  width: 300px;
}

/* Loader */
#loader_mask {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: transparent;
    opacity: 0;

    /* Propriétés pour cacher le loader */
    animation-name:hide-loader-mask; /* Lien avec le keyframe hide */
    animation-timing-function:linear;
    animation-duration:3s;
}

#loader {
    /* Création du loader */
    border: 14px solid transparent;
    border-top: 14px solid #9356DC;
    border-bottom: 14px solid #FF79DA;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;

     /* Placement du loader */
    margin: auto;
    position: absolute;
    top: 0;left: 0; right: 0;bottom: 0;

    /* Propriétés d'animation */
    animation-name: spin;
    animation-timing-function: linear; /* Fonction timing de l'animation */
    animation-duration: 3s; /* Durée de l'animation */
    animation-iteration-count: infinite; /* Nombre de cycles */
}

/* Animation du loader */
@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg);
    }
}

@keyframes hide-loader-mask {
    0% { 
        opacity: 1;
    }
    100% { 
        opacity: 1;
    }
}

  /* Main */

  /* Localisation */

 #localisation{
      display: flex;
      justify-content: center;
      color: #3b3a3b;
      font-weight: 500;
      font-size: 22px;
      background-color: #ededed;
  }

  #localisation i{
      font-size: 24px;
      position: relative;
      margin-left: 30px;
      padding-right: 15px;
      padding-top: 21px;
  }

   /* Section 1 : titre principal */
 
   #section_titre_principal{
      text-align: center;
      background-color: #f7f7f7;
      padding: 30px 20px 40px 20px;
  }

  h1{
      font-size: 38px;
  }

  #baseline{
      font-size: 22px;
      color: grey;
      padding-bottom: 20px;
  }

#section_titre_principal button {
    padding: 20px 25px 20px 25px;
    border-radius: 35px;
    color: white;
    font-size: 22px;
background: linear-gradient(#FF79DA,#9356DC);
border: 0px;
box-shadow: 64px 67px 70px -32px rgba(41,41,41,0.78); /* Vérifier */
}

/* Section 2 : Fonctionnement */

h2 {
  padding-top: 30px;
  text-align: center;
    font-size: 34px;
    padding-bottom: 20px;
}

#section_fonctionnement 
{
  position: relative;
  padding-top: 110px;
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-bottom: 40px;
}

#section_fonctionnement h2 {
  position: absolute;
  justify-content: center;
  top: -20px;
}

.fonctionnement {
    display: flex;
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    box-shadow: 64px 67px 70px -32px rgba(41,41,41,0.78); /* à vérifier */
    background-color: #f7f7f7;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.fonctionnement :first-child{
    position: relative;
    top: 25px;
    font-size: 23px;
    color: grey;
    padding-right: 10px;
    padding-left: 5px;
    transform: translate3d(
    -16px,
    0px,
    0
  );
}

.fonctionnement span::first-letter {
    height: 30px;
    width: 30px;
    padding: 2px 7px 2px 7px;
    border-radius: 50%;
    font-weight: 400;
    color: white;
    border: 1px solid #9356DC;
    background-color: #9356DC; 
}

.fonctionnement p{
  font-size: 18px;
    padding-right: 20px;
}

.fonctionnement:hover {
    background-color: #ead9ff;
}

/* Section 3 : restaurants */

#section_restaurants{
    background-color: #f5f5f5;
    padding-bottom: 50px;
}

/* Zone flex */

#carte {
    display: flex;
    margin: auto;
    gap: 13px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

/* Conteneur */
#carte a {
    position: relative;
    justify-content: center;
    display: block;
    border-radius: 20px;
    padding-bottom: 15px;
    background-color: #ffff;
    text-decoration: none;
    color: black;
    height: 280px;
    width: calc(100%/2 - 20px);
    box-shadow: 1px 16px 29px -1px rgba(199,199,199,1);
}

/* Image */
#carte img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* Sticker */
.sticker_nouveau {
    position: absolute;
    background-color: #99E2D0;
    color: #009f77;
    font-weight: 500;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    right: 30px;
    top: 0px;
}

/* Conteneur hors image */
#carte a *:not(img) {
margin-left: 10px;
padding-top: 5px;
display: flex;
flex-direction: column;
line-height: 1.2;
}

/* Titre */
#carte a span:first-of-type {
    font-size: 22px;
    font-weight: 600;
}

/* Texte */
#carte a span:nth-of-type(2) {
    font-size: 20px;
    font-weight: 300;
}

/* Animation îcone coeur */
.animation_coeur {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
}

svg {
    overflow: visible;
    width: 26px;
    position: absolute;
  }

 .coeur_principal {
    position: absolute;
    right: 20px;
    bottom: 6px;
 }

 .coeur_animé {
  position: absolute;
  right: 66px;
  bottom: 38px;
  opacity: 0;
  stroke: none;
  fill: linear-gradient(#9356DC, #FF79DA);
 }

 .coeur_animé:hover {
   opacity: 1;
   transition: 400ms ease-in-out;
 }

/* Footer */
footer {
    background-color: #3b3a3b;
    padding-left: 30px;
    padding-bottom: 40px;
    color: white;
    font-size: 20px;
}

#footer_logo {
    filter: invert(100%);
    height: 20%;
    width: 20%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer_flex {
    display: flex;
    margin-right: 35px;
}

#footer_flex_desktop {
  display:flex;
  justify-content: center;
  margin-right: 35px;
}

.footer_flex p {
    margin-top: 0px;
    padding-left: 5px;
}

.footer_flex i {
    font-size: 20px;
    padding-right: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    margin-top: 0;
    margin-left: 35px;
}