* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 992px){
 body {
  font-family: "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

 #bloc_page {
    padding-left:0px;
    padding-right:0px;
  }

  html,
body {
  margin: 0px;
  padding: 0px;
}


  /* Header */

header {
  margin-top: 60px;
  height: 100px;
  margin-left: 60px;
      padding-left: 35px;
    padding-right: 35px;
}
  
  header img{
      height: 45%;
      width: 45%;
  }

  header span i {
      font-size: 40px;
      font-weight: bold;
      position: absolute;
      left: 25px;
      top: 70px;
      color: black;
  }

  /* Main */

  #background_page {
      position: relative;
      background-color: rgba(245, 245, 245, 0.982);
      margin-top: -85px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      padding-bottom: 60px;
  }

  #photo_couverture {
      height: 350px;
      width: 100%;
      object-fit: cover;
  }

  h1, .carte {
      padding-left: 30px;
      padding-right: 30px;
  }

  h1 {
      padding-top: 50px;
      font-family: "shrikhand";
      font-size: 44px;
      text-align: center;
  }

.coeur {
    fill: transparent;
    stroke: black;
    stroke-width: 22px;
    width: 36px;
    position: absolute;
    top: 54px;
    right: 60px;
    overflow: visible;
}

/* Carte */

.carte {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-bottom: 60px;
}

h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 20px;
    color: rgb(94, 94, 94);
}

.bordure_titre {
border-bottom: 4px solid #99E2D0;
padding-bottom: 7px;
}

.menu {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 1px 0px 2px 5px;
    margin-bottom: 15px;
    height: 70px;
    width: 350px;
    box-shadow: 1px 16px 29px -1px rgba(199,199,199,1);
}

.menu h3 {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: -4px;
}

.menu p{
    display: inline-flex;
    position: relative;
    top: -33px;
    font-size: 15px;
    font-weight: 300;
}

.menu span {
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 39px;
    right: 15px;
}

/* Sélecteur - Animation */

.menu div {
    position:absolute;
    top:0;
    right:0;
    width:0px;
    height:70px;
    border-radius:5px 0 0 5px;
    background:#009688;
    transition:width ease 0.5s;
    text-align:center;
    padding-top:25px;
    overflow:hidden;
}

.menu svg {
    width:25px;
    height:25px;
    display:inline-block;
    transition:transform ease 0.5s;
    
}

.menu:hover div{
    width: 75px;
}

.menu:hover svg {
     transform:rotate(360deg);
}


/* Commander */

#button {
    margin-top: 0px;
}

button  {
  display: flex;
  margin: auto;
    padding: 15px 45px 15px 45px;
    border-radius: 35px;
    color: white;
    font-size: 24px;
background: linear-gradient(#FF79DA,#9356DC);
border: 0px;
box-shadow: 64px 67px 70px -32px rgba(41,41,41,0.78); /* Vérifier */
}


/* Footer */

footer {
    background-color: #3b3a3b;
    padding-left: 30px;
    padding-bottom: 40px;
    color: white;
    font-size: 20px;
}

#footer_logo {
    filter: invert(100%);
    height: 20%;
    width: 20%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer_flex {
    display: flex;
    margin-right: 35px;
}

#footer_flex_desktop {
  display:flex;
  margin: auto;
  margin-right: 35px;
}

.footer_flex p {
    margin-top: 0px;
    padding-left: 5px;
}

.footer_flex i {
    font-size: 20px;
    padding-right: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    margin-top: 0;
    margin-left: 35px;
}